@import './styles/flex.scss';

page {
  box-sizing: border-box;
  height: 100%;
  font-family: 'PingFangSC-Medium, PingFang SC';
  font-size: 26rpx;
  background-color: #f8f8f8;
  font-weight: 400;
}
