.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.comm-padding-lr {
  padding: 0 30rpx 0 20rpx;
}

.comm-padding-tb {
  padding: 20rpx 30rpx 40rpx 30rpx;
}
