.slot-left {
  width: 45rpx;
  height: 45rpx;
}

.capsule {
  height: 48rpx;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-left: 24rpx;
  line-height: 48rpx;
  border-radius: 32rpx;
}